@using Microsoft.AspNet.Identity

<h2>title</h2>
<div id="user-profile">
    
</div>

<div id='calendar'></div>

<div id="InfoModal" class="modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="myModalLabel">Appointment</h3>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt id="teacher-name"></dt>
                    <dd></dd>
                    <dt>Beginning:</dt>
                    <dd id="start"></dd>
                    <dt>Finish:</dt>
                    <dd id="end"></dd>
                </dl>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Cancel</button>
                <button type="button" id="qr_code" data-dismiss="modal" class="btn btn-danger">QR-code</button>
                <button type="button" id="delete" data-dismiss="modal" class="btn btn-danger">Delete</button>
            </div>
        </div>

    </div>

</div>

@section scripts{

    <script>
        $('#user-profile').load("@Url.Action("Teacher","Manage")");
        $('delete').click(function() {
            var dataRow = {
                'AppointmentId': selectedEvent.id
            }
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DeleteEvent", "Calendar")',
                data: dataRow,
                success: function (response) {
                    if (response == 'True') {
                        $('#calendar').fullCalendar('refetchEvents');
                        alert('Event deleted!');
                    } else {
                        alert('Error, could not delete event!');
                    }
                }
            });
        });

        function getFormattedDate(date) {
            var today = new Date(date);
            var dd = today.getDate();
            var mm = today.getMonth(); //January is 0!
            var hh = today.getHours();
            var min = today.getMinutes();
            if (hh == 0)
                hh = '00';
            if (min == 0)
                min = '00';
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }

            var month = new Array();
            month[0] = "Jan";
            month[1] = "Feb";
            month[2] = "Mar";
            month[3] = "Apr";
            month[4] = "May";
            month[5] = "Jun";
            month[6] = "Jul";
            month[7] = "Aug";
            month[8] = "Sep";
            month[9] = "Oct";
            month[10] = "Nov";
            month[11] = "Dec";

            var today = dd + '/' + month[mm] + '/' + yyyy + ' ' + hh + ':' + min;
            return today;
        }

        var selectedEvent;
        $(document).ready(function() {
                $('#calendar').fullCalendar({
                    header: {
                        left: 'today prev,next ',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    defaultView: 'agendaDay',
                    editable: false,
                    allDaySlot: false,
                    selectable: true,
                    slotMinutes: 15,
                    timezone: 'local',
                    events: "@Url.Action("GetStudentEvents", "Calendar", new {Id = User.Identity.GetUserId()})",
                    eventClick: function(calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#InfoModal').modal();
                        $('#myModalLabel')[0].innerHTML = calEvent.title;
                        $('#teacher-name')[0].innerHTML = calEvent.TeacherName;
                        $("#start")[0].innerHTML = getFormattedDate(calEvent.start);
                        $("#end")[0].innerHTML = getFormattedDate(calEvent.end);
                    },

                });
            }
        );
    </script>
}
